@import "vialer-js/lib/variables";

.component-availability-vg {
    width: 100%;

    .platform-availability {
        .switch[type="checkbox"] {
            & + label::before {
                background: $orange-color;
            }

            &:checked + label::before {
                background: $green-color;
            }
        }
    }
}
